/*Nord color palette*/
:root {
  /*colors*/
  --yellow:  #ebcb8b;
  --orange:  #d08770;
  --red:     #bf616a;
  --magenta: #b48ead;
  --blue:    #5e81ac;
  --cyan:    #81a1c1;
  --green:   #a3be8c;
  /*dark*/
  --nord00:  #242933; /*html background*/
  --nord01:  #373e4d; /*border color*/
  --nord02:  #4c566a; /*higlight background*/
  --nord03:  #3b4252; /*card background*/
  --nord04:  #d8dee9; /*text color*/
  --nord05:  #323a48; /*shadow color*/
  /*light*/
  --nord10:  #81a1c1; /*html background*/
  --nord11:  #3b4252; /*border color*/
  --nord12:  #373e4d; /*higlight background*/
  --nord13:  #5e81ac; /*card background*/
  --nord14:  #242933; /*text color*/
  --nord05:  #323a48; /*shadow color*/
}

/*general html*/
html {
  background-color: var(--nord00);
}

body{
  color: var(--nord04);
  font-family: sans-serif;
 }

hr{
  border-color: var(--nord04);
  border-style: solid;
  height: 0%;
  width: 100%;
}

h3, h5{
  text-align: center;
}

a[href]{
  color: #88c0d0; /*link color*/
}

/*footer*/

footer{
  padding: 10px;
  text-align: center;  
  justify-content: center;
}

footer>a{
  text-decoration: none;
}

.img-88x31{
  box-shadow: 2px 2px 2px 1px var(--nord05);
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  width:  88px;
  height: 31px;
}
.img-88x31:hover{
  transform: scale(2);
  transition: 200ms;
}

/*navegation bar*/

nav{
  text-align: center;
  justify-content: center;
  padding: 10px;
  min-width: 20rem;
  display: flex;
  flex-wrap: wrap;
}

nav>a{
  background-color:           var(--nord03);
  box-shadow: 4px 4px 2px 1px var(--nord05);
  text-decoration: none;  
  padding: 1rem 2rem;
  margin: 5px;
  margin-top: 0%;
  border-radius: 5px;
  transition: background-color 300ms;
}
nav>a>span{
  color: var(--nord04);
}

nav>a.current{
  background-color: var(--nord02);
}

nav>a:hover{
  background-color: var(--nord04);
  transition: 200ms;
}

nav>a:hover>span{
  color: var(--nord03);
}

/*button*/

button{  
  background-color:           var(--nord02);
  border: 2px solid           var(--nord03); 
  color:                      var(--nord04);
  box-shadow: 4px 4px 2px 1px var(--nord05);
  margin: 10px;
  padding: 10px;
  margin-top: 0%;
  border-radius: 100%;
  transition: background-color 0.3s;
}
  
button:hover{
  border: 2px solid var(--nord02); 
  background-color: var(--nord03);
  transition: 200ms;
}

button:active{
  transform: scale(1.2);
  transition: 100ms;
}

/*divs classes*/

.mobile{
  display: none;
}

.container{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  max-width: 60rem;
  margin: 0 auto;
}

.card{
  background-color: var(--nord03);
  box-shadow: 4px 4px 2px 1px var(--nord05);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  min-width: 20rem;
  max-width: 20rem; 
}

.card>p{
  margin-bottom: 1rem; /*adds space in between paragraphs ''*/
}

.card>img{
  padding: 10px;      /*adds space in between card and image*/
  display: grid;      /*centers image*/
  margin-left: auto;  /*centers image, needs grid*/
  margin-right: auto; /*centers image, needs grid*/
}

#grid .card{/*Fixes text alignent with images on cards*/  
  display: grid;
}

#blog .card{
  display: block;
  width: 20rem;
}

.center{
  margin-top: auto;
  text-align: center;
}

.justify{
  text-align: justify;
}

.column{
  float: left;
  width: 50%;
  box-sizing: border-box;
}

.row:after{
  content: "";
  display: table;
  clear:   both;
}

/*Default style is dark mode, only needs to be rewriten the light colors*/

@media (prefers-color-scheme: light) { 
  html {
    background-color: var(--nord10) !important;
  }
  body {
    color: var(--nord14) !important;
  }
  hr{
    border-color: var(--nord11) !important;
  }
  .card{
    background-color: var(--nord13) !important;
  }
  button{  
    background-color:           var(--nord13) !important;
    border: 2px solid           var(--nord11) !important; 
    color:                      var(--nord14) !important;
  }
  button:hover{
    border: 2px solid  var(--nord13) !important; 
    background-color:  var(--nord12) !important;
    color:             var(--nord13) !important;
  }
  nav>a{
    background-color:           var(--nord13) !important;
  }
  nav>a>span{
    color: var(--nord14) !important;
  }
  nav>a.current{
    background-color: #4b5f82 !important;
  }
  nav>a:hover{
    background-color: var(--nord12) !important;
    transition: 200ms;
  }
  nav>a:hover>span{
    color: var(--nord13) !important;
  }
}

/*resonsiveness on mobile*/

@media screen and (max-width: 40rem) {
  nav>a{
    width: calc(50% + 3rem);
  }
  .mobile{
    display: inline-block !important;
  }
  .card{
    min-width: calc(70% + 3rem) !important;
    max-width: calc(70% + 3rem) !important;
  }
  img{
    max-width: 90% !important;
  }
  button{
    border-radius: 50px !important;
  }
}
