nav {
 /* background-color: #2e3440;*/
  text-align: center;
  padding: 15px;
  border-radius: 0px;
}

nav > a > div {
  color: #fff;
  background-color: #3b4252;
  text-decoration: none;
  display: inline-block;

  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
nav > a > div.current {
    background-color: #4c566a;
}

nav > a > div:hover {
  background-color: #4c566a;
}
