<!DOCTYPE html>
<html lang="{{ language }}" data-i18n-title-en="{{ title_en }}" data-i18n-title-es="{{ title_es }}">

<head>
  <base href="{{ base_href }}">
  <link rel="manifest" href="./manifest.json">
  <!--fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400..700&family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
  <!--metadatas-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy" content="{{ csp }}">
  <meta name="keywords" data-i18n-keywords-en="{{ keys_en }}" data-i18n-keywords-es="{{ keys_es }}" content="{{ keys_content }}">
  <meta name="description" data-i18n-description-en="{{ desc_en }}" data-i18n-description-es="{{ desc_es }}" content="{{ desc_content }}">
  <meta name="author" content="Ariel Parra">
  <title>{{ title_content }}</title>

  <!-- CSS files -->
{{ css_links }}

  <!-- Java Scripts preloads -->
{{ js_preloads }}

  <!-- Java Scripts defers -->
{{ js_defers }}

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="./img/apple-touch-icon.png" sizes="180x180">
</head>

<body>

  <div class="container">
    <button type="button" id="menuButton" data-nav-shown="true"><span class="i18n" data-i18n-en="Hide Menu" data-i18n-es="Mostrar Menú">Hide Menu</span></button>
    <button type="button" id="langButton" data-i18n-title-en="Change language to" data-i18n-title-es="Cambiar idioma a" title="Change language to"><span class="i18n" data-i18n-en="Español" data-i18n-es="English">Español</span></button>
    <button type="button" id="themeButton" data-i18n-title-en="Change color theme to" data-i18n-title-es="Cambiar tema de color a" title="Change color theme to" aria-label="Toggle theme"> 🌗 </button>
  </div><!-- Buttons -->

  <nav>
{{ nav_html }}
  </nav>

{{ credentials_filters }}

<main>
{{ main_content }}
</main>

</body>
</html>
