<!DOCTYPE html>
<html lang="{{ language }}" translate="no">

<head>
  <base href="{{ base_href }}">
  <link rel="manifest" href="./manifest.json">
  <!--fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400..700&family=Pixelify+Sans:wght@400..700&display=swap" rel="stylesheet">
  <!--metadatas-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Security-Policy" content="{{ csp }}">
  <meta name="keywords" content="{{ keys_content }}">
  <meta name="description" content="{{ desc_content }}">
  <meta name="author" content="Ariel Parra">
  <title>{{ title_content }}</title>

  <!-- CSS files -->
{{ css_links }}

  <!-- Java Scripts preloads -->
{{ js_preloads }}

  <!-- Java Scripts defers -->
{{ js_defers }}

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="./img/apple-touch-icon.png" sizes="180x180">

{{ redirect_script }}
</head>

<body>

  <div class="container">
    <button type="button" id="menuButton" data-nav-shown="true" data-text-hide="{{ lbl_hide_menu }}" data-text-show="{{ lbl_show_menu }}"><span>{{ lbl_hide_menu }}</span></button>
    <div id="langLinks" style="display: contents;">
{{ lang_links }}
    </div>
    <button type="button" id="themeButton" title="Toggle theme" aria-label="Toggle theme"> 🌗 </button>
  </div><!-- Buttons -->

  <nav>
{{ nav_html }}
  </nav>

{{ credentials_filters }}

<main>
{{ main_content }}
</main>

</body>
</html>
